{{!-- Cabeçalho do meu projecto --}}
 
<nav class="navbar-estilo">
        <div class="logo-estilo">
            <h1>Consultoria de Informática</h1>
        </div>
        <div class="menu-estilo">
            <a href="/">Home</a>
            <a href="/categorias">Categoria</a>
            {{!-- user: nossa variavel global --}}
            {{!-- Se o user estiver logado nao mostrar se nao mostrar o menu Login e Registo --}}
            {{#if user}}
            <a href="/usuarios/logout">Logout</a>
            {{else}}
            <a href="/usuarios/login">Login</a>
            <a href="/usuarios/registo">Registo</a>
            <a id="botao-estilo" href="#">Fale Conosco</a>
            {{/if}}
        </div>
    </nav>
    <header class="header-estilo">
        
        <div class="img-headline-estilo">
            <img style="max-width:70% ;border-radius: 40px;" src="img/piba_2.svg" alt="">
            <p id="txt_logo_piba-estilo">Tornamos-te o único! </p>
          
        </div>
        <div class="headline-estilo">
            <h2 style="letter-spacing: 5px;text-align: left;">Achou a melhor consultoria</h2>
            <h2 style="font-size:70px ;">PIBATEC</h2>
            <p>
                Actuamos no mercado de Tecnologia de Informação e de Comunicação  e nosso lema é actuar sempre profissionalmente para tornar o seu negócio de acordo a actual realidade tecnológica. Para isso, contamos com uma equipe de profissionais dos mais qualificados.
            </p>
            <a href="#" class="contact-btn-estilo">Contrate agora</a>
        </div>
    </header>