{{!-- Cabeçalho do meu projecto --}}
<nav class="menu">

    <div class="container-fluid">
        {{!-- <img src="img/logo-pibatec.png" alt="" class="card-img-top" style="width: 80px;border-radius: 40px;"> --}}
        {{!-- <a class="navbar-brand" href="/">PIBATEC POST</a> --}}

        <div class="logo">
            <h1>Consultoria de Informática</h1>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/categorias">Categoria</a>
            {{!-- user: nossa variavel global --}}
            {{!-- Se o user estiver logado nao mostrar se nao mostrar o menu Login e Registo --}}
            {{#if user}}
            <a href="/usuarios/logout">Logout</a>
            {{else}}
            <a href="/usuarios/login">Login</a>
            <a href="/usuarios/registo">Registo</a>
            <a id="botao" href="#">Fale Conosco</a>
            {{/if}}
        </div>

    </div>
</nav>
