<footer>
        <div class="logo-rodape">
                <h2 class="agencia-estilo">Consultoria de Informática</h2>
                <p style="color: white;">Mozambique || Nacala Porto || pibatec@gmail.com</p>
        </div>
        <b style="color:white ;">© Todos os direitos reservados, desenvolvido por PIBATEC</b>
</footer>