  <nav class="navbar  navbar-expand-lg bg-body-tertiary navbar-dark bg-dark fixed-bottom mt-4" data-bs-theme="dark">
    <div class="card-body" style=" text-align: center;color: white;">
      <p>Suporte : 868815644 || iovdidaniel@gmail.com || Mozambique - Nacala Porto || @copyright2023</p>
    </div>

  </nav>
