<footer>
        <div class="logo-rodape">
            <h2 class="agencia">Consultoria de Informática</h2>
            <p style="color: white;">Mozambique || Nacala Porto</p>
        </div>
        <b style="color:white ;">© Todos os direitos reservados.</b>
    </footer>
    <a class="whats" href="https://api.whatsapp.com/send?phone=55868815644" target="_blank">
        <img style="width: 100px;"  src="img/whats.png" alt="">
    </a>