<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Actuamos no mercado de Tecnologia de Informação e de Comunicação e nosso lema é actuar sempre profissionalmente para tornar o seu negócio de acordo a actual realidade tecnológica. Para isso, contamos com uma equipe de profissionais dos mais qualificados.">
    <meta name="keywords" content="PIBATEC, Consultoria de Informatica, Tecnologia de Informacao e de comunicacao,software, hardware,LAN,WAM, redes de computadores, IT, Helpdesk, sistemas informaticos, engenharia informatica, assistencia de informatica">
    <title>PIBATEC</title>
    <meta name="description" content="Um site de exemplo do modulo css Actuamos no mercado de Tecnologia de Informação e de Comunicação e nosso lema é actuar sempre profissionalmente para tornar o seu negócio de acordo a actual realidade tecnológica. Para isso, contamos com uma equipe de profissionais dos mais qualificados.
">
    <meta name="keywords" content="PIBATEC LIMITADA,PIBATEC, Consultoria de Informatica, Tecnologia, Comunicacao, Software, Hardware, LAN,WAN, Mocambique,Mozambique, IT, Engenharia informatica">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/responsivo.css">


    <title>PIBATEC</title>

</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1>Consultoria de Informática</h1>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/categorias">Categoria</a>
            {{!-- user: nossa variavel global --}}
            {{!-- Se o user estiver logado nao mostrar se nao mostrar o menu Login e Registo --}}
            {{#if user}}
            <a href="/usuarios/logout">Logout</a>
            {{else}}
            <a href="/usuarios/login">Login</a>
            <a href="/usuarios/registo">Registo</a>
            <a id="botao" href="#">Fale Conosco</a>
            {{/if}}
        </div>
    </nav>
    
    <header class="header">
        
        <div class="img-headline">
            <img style="max-width:70% ;border-radius: 40px;" src="img/piba_2.svg" alt="">
            <p id="txt_logo_piba">Tornamos-te o único! </p>
        </div>
        <div class="headline">
            <h2 style="letter-spacing: 5px;text-align: left;">Achou a melhor consultoria</h2>
            <h2 style="font-size:70px ;">PIBATEC</h2>
            <p>
                Actuamos no mercado de Tecnologia de Informação e de Comunicação  e nosso lema é actuar sempre profissionalmente para tornar o seu negócio de acordo a actual realidade tecnológica. Para isso, contamos com uma equipe de profissionais dos mais qualificados.
            </p>
            <a href="#" class="contact-btn">Contrate agora</a>
        </div>
    </header>
    <section class="section">
        <h2>O que podemos fazer pelo seu negocio?</h2>
        <div class="servicos">
            <div class="card">
                <img src="img/pc.png" alt="">
                <div class="card-text">
                    <h3>Desenvolvimento de sites</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus culpa saepe harum earum modi
                        velit
                        explicabo delectus tempore rem ratione perferendis quod, corrupti quisquam repellat, in
                        blanditiis
                        sed voluptates? Magnam!</p>
                </div>
                <div class="texto-oculto">
                    <h3>Outro conteúdo qualquer</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus culpa saepe harum earum modi
                        velit
                        explicabo delectus tempore rem ratione perferendis quod, corrupti quisquam repellat, in
                        blanditiis
                        sed voluptates? Magnam!</p>
                </div>
            </div>
            <div class="card">
                <img src="img/smartphone.png" alt="">
                <div class="card-text">
                    <h3>Desenvolvimento de Apps</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus culpa saepe harum earum modi
                        velit explicabo delectus tempore rem ratione perferendis quod, corrupti quisquam repellat, in
                        blanditiis sed voluptates? Magnam!</p>
                </div>
                <div class="texto-oculto">
                    <h3>Outro conteúdo qualquer</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus culpa saepe harum earum modi
                        velit
                        explicabo delectus tempore rem ratione perferendis quod, corrupti quisquam repellat, in
                        blanditiis
                        sed voluptates? Magnam!</p>
                </div>
            </div>
            <div class="card">
                <img src="img/marketing1.png" alt="">
                <div class="card-text">
                    <h3>Marketting Digital</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus culpa saepe harum earum modi
                        velit
                        explicabo delectus tempore rem ratione perferendis quod, corrupti quisquam repellat, in
                        blanditiis
                        sed voluptates? Magnam!</p>
                </div>
                <div class="texto-oculto">
                    <h3>Outro conteúdo qualquer</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus culpa saepe harum earum modi
                        velit
                        explicabo delectus tempore rem ratione perferendis quod, corrupti quisquam repellat, in
                        blanditiis
                        sed voluptates? Magnam!</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="logo-rodape">
            <h2 class="agencia">Consultoria de Informática</h2>
            <p style="color: white;">Mozambique || Nacala Porto</p>
        </div>
        <b style="color:white ;">© Todos os direitos reservados.</b>
    </footer>
    <a class="whats" href="https://api.whatsapp.com/send?phone=+258868815644" target="_blank">
        <img style="width: 100px;"  src="img/whats.png" alt="">
    </a>
</body>

</html>