<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIBATEC</title>
    <meta name="description" content="Consultoria de Informatica">
    <meta name="keywords" content="Consultoria de informatica,Agência Digital , desenvolvimento de software,redes de computadores,LAN,WAN">

    {{!-- <link rel="stylesheet" href="/css/bootstrap.css">  --}}
    <link rel="stylesheet"  href="/css/stilo.css">
    <link rel="stylesheet"  href="/css/responsivo.css">
    

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog NodeJS</title>
</head>
<body>
    
    {{>_navbar}} {{!-- Carregar arquivo navbar que esta na pasta partials --}}    
    <div class="container mt-4">  
        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{else}}

        {{/if}}


        {{>_msg}} 
        {{{body}}}
        <br>
        <br><br>
    </div>
    {{>_rodape}}
</body>
</html>