<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Actuamos no mercado de Tecnologia de Informação e de Comunicação e nosso lema é actuar sempre profissionalmente para tornar o seu negócio de acordo a actual realidade tecnológica. Para isso, contamos com uma equipe de profissionais dos mais qualificados.">
    <meta name="keywords" content="PIBATEC, Consultoria de Informatica, Tecnologia de Informacao e de comunicacao,software, hardware,LAN,WAM, redes de computadores, IT, Helpdesk, sistemas informaticos, engenharia informatica, assistencia de informatica">
    <title>PIBATEC</title>
    <meta name="description" content="Um site de exemplo do modulo css Actuamos no mercado de Tecnologia de Informação e de Comunicação e nosso lema é actuar sempre profissionalmente para tornar o seu negócio de acordo a actual realidade tecnológica. Para isso, contamos com uma equipe de profissionais dos mais qualificados.
">
    <meta name="keywords" content="PIBATEC LIMITADA,PIBATEC, Consultoria de Informatica, Tecnologia, Comunicacao, Software, Hardware, LAN,WAN, Mocambique,Mozambique, IT, Engenharia informatica">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/responsivo.css">
    <link rel="icon" type="image/svg+xml" href="img/favicon.svg">


    <title>PIBATEC</title>

</head>

<body>
    
    {{>_navbar}}
    
    <header class="header">
        
        <div class="img-headline">
            <img style="max-width:70% ;border-radius: 40px;" src="img/piba_2.svg" alt="">
            <p id="txt_logo_piba">Tornamos-te o único! </p>
          
        </div>
        <div class="headline">
            <h2 style="letter-spacing: 5px;text-align: left;">Achou a melhor consultoria</h2>
            <h2 style="font-size:70px ;">PIBATEC</h2>
            <p>
                Actuamos no mercado de Tecnologia de Informação e de Comunicação  e nosso lema é actuar sempre profissionalmente para tornar o seu negócio de acordo a actual realidade tecnológica. Para isso, contamos com uma equipe de profissionais dos mais qualificados.
            </p>
            <a href="#" class="contact-btn">Contrate agora</a>
        </div>
    </header>
    <section class="section">
        <h2>O que podemos fazer pelo seu negocio?</h2>
        <div class="servicos">
            <div class="card">
                <img src="img/pc.png" alt="">
                <div class="card-text">
                    <h3>Desenvolvimento de sites</h3>
                    <p>Sua empresa precisa de um Website para ter maior alcance de clientes, quebrando limites geograficos</p>
                </div>
                <div class="texto-oculto">
                    <h3>Website</h3>
                    <p>Quebre os limites geograficos para alcancar os seus clientes interessados em seus produtos e servicos.</p>
                </div>
            </div>
            <div class="card">
                <img src="img/smartphone.png" alt="">
                <div class="card-text">
                    <h3>Desenvolvimento de Apps</h3>
                    <p>Encomende connosco um sistema de acordo a realidade do seu negocio.</p>
                </div>
                <div class="texto-oculto">
                    <h3>APPS</h3>
                    <p>Encomende connosco um sistema de acordo a realidade do seu negocio.</p>
                </div>
            </div>
            <div class="card">
                <img src="img/marketing1.png" alt="">
                <div class="card-text">
                    <h3>Marketting Digital</h3>
                    <p>Aumente a visibilidade de acesso ao seu negocio por meio de mecanismos de publicidade para que os clientes te alcansem</p>
                </div>
                <div class="texto-oculto">
                    <h3>Marketting Digital</h3>
                    <p>Aumente a visibilidade de acesso ao seu negocio por meio de mecanismos de publicidade para que os clientes te alcansem</p>
                </div>
            </div>
        </div>
    </section>
    {{_rodape}}
    
</body>

</html>