<section class="section-estilo">
<h2>O que podemos fazer pelo seu negocio?</h2>
        <div class="servicos-estilo">
            <div class="card-estilo">
                <img src="img/pc.png" alt="">
                <div class="card-text-estilo">
                    <h3>Desenvolvimento de sites</h3>
                    <p>Sua empresa precisa de um Website para ter maior alcance de clientes, quebrando limites geograficos</p>
                </div>
                <div class="texto-oculto-estilo">
                    <h3>Website</h3>
                    <p>Quebre os limites geograficos para alcancar os seus clientes interessados em seus produtos e servicos.</p>
                </div>
            </div>
            <div class="card-estilo">
                <img src="img/smartphone.png" alt="">
                <div class="card-text-estilo">
                    <h3>Desenvolvimento de Apps</h3>

                    <p>Encomende connosco um sistema de acordo a realidade do seu negocio.</p>
                </div>
                <div class="texto-oculto-estilo">
                    <h3>APPS</h3>
                    <p>Encomende connosco um sistema de acordo a realidade do seu negocio.</p>
                </div>
            </div>
            <div class="card-estilo">
                <img src="img/marketing1.png" alt="">
                <div class="card-text-estilo">
                    <h3>Marketting Digital</h3>
                    <p>Aumente a visibilidade de acesso ao seu negocio por meio de mecanismos de publicidade para que os clientes te alcansem</p>
                </div>
                <div class="texto-oculto-estilo">
                    <h3>Marketting Digital</h3>
                    <p>Aumente a visibilidade de acesso ao seu negocio por meio de mecanismos de publicidade para que os clientes te alcansem</p>
                </div>
            </div>
        </div>
        </section>