{{!-- Postagem selecionada --}}
<div class="servicos-estilo">
    <div class="card-estilo">
        <h1>{{postagem.titulo}}</h1>
        <hr>
        <small>Data de publicação :{{postagem.data}}</small>
        <hr>
        {{postagem.conteudo}}

    </div>
</div>